<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <property name="log.root" value="d:\\logs\\awen"/>
    <property name="log.port" value="8080"/>


    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] [%thread] [%-5level]%logger{30}[%line]: %msg %n</pattern>
        </encoder>
    </appender>

    <!-- 服务日志记录 -->
    <appender name="rollingFileAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.root}/SECSService_${log.port}.log.%d{yyyyMMdd}</fileNamePattern>
            <maxHistory>2</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] %msg %n</pattern>
        </encoder>
    </appender>
    <logger level="info" name="com.wen.awenboot.controller.PersonController"/>

    <root level="INFO">
        <appender-ref ref="rollingFileAppender"/>
        <appender-ref ref="consoleAppender"/>
    </root>

</configuration>
